body.fixed{
  margin: 0;
  overflow: hidden;
  -webkit-overflow-scrolling: touch !important;
}
.body-area{margin-top: 71px;}

.overlapbg, .overlapbg_loader{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  * {
    position:relative;
    top:50%;
    color:#fff;
    text-align:center;
  }
  a.search_panel_btn {
    text-align: center;
    position: relative;
    margin: 0 auto;
    display: block;
    padding: 16px;
    background: #fff;
    border-radius: 8px;
    width: 80%;
    color: #000;
  }
  .view_more{
    background: #fff;
    position: relative;
    margin: 0 auto;
    display: block;
    border-radius: 8px;
    text-align: center;
    width: 80%;
    color: #000;
    padding:15px;
    top:30%;
    .search_icon{
      background-image:url(../../images/home_page/icons/search.png);
      background-size:contain;
      background-repeat: no-repeat;
      width:100px;
      height:100px;
      background-position:center;
      display:block;
      margin:0 auto;
    }
  }
  body.fixed &{
    touch-action: none;
  }
}

#content {
    width: 100%;
    height: 15px;
    margin: 0 auto;
    overflow:none;
    position:absolute;
    top:0;
    z-index: 99999;
}
#bar {
    height: 3px;
    margin: 0px 0;
    background: $green;
    
    overflow:hidden;
    position:absolute;
}
#complete {
    color:#444;
    font-family:helvetica;
    font-size:30px;
    text-align:center;
    width:100%;
    margin:3px 0 0 0;
}

header {
  background: #fff;
  position: relative;
  z-index: 152;
  border-bottom: 1px solid #B9B6B6;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
  &.main_header.details_header .navbar {
    margin-bottom: 0;
  }
}

.main_header {
  .main_menu{
    display:none;    
    font-size:30px;
    vertical-align: middle;
    color:#4cafc8;
    line-height:1.78;
    float:left;
  }
    .navbar_right{
      float:right;
    }
  .header_nave {
      float: left;
  }
  .main_menu_right{
    font-size:20px;
    vertical-align: middle;
    line-height:2.5;    
    display:none;
    color: #4cafc8;
    + .main_menu_right{
      margin-left:15px;
    }
    &.workmenubtn_js{
      display:none;
    }
  }
  .navbar .logo{
    float:left;
    display:inline-block;
    a{
      display:inline-block;
      float:left;
    }
    img {
      transition: 0.2s;
      height: 60px;      
      position:relative;
      display:block;
      margin: 5px 0;
    }
  } 
  .left_slide_memu{
    &:after{
      content: '';
      display: table;
      clear: both;
    }
    .navbar-nav>li{
      &.mob_show{
        display:none;
      }
      &.desk_show{
        display:block;
      }
      ul{
        display:none;
        white-space: nowrap;
      }
      &:hover ul{
        display:block;
        position: absolute;
        background: #fff;
        list-style: none;
        padding: 0;
        border-radius:10px;
        overflow: hidden;
        -webkit-box-shadow: 0px 8px 21px -8px rgba(117,117,117,1);
        -moz-box-shadow: 0px 8px 21px -8px rgba(117,117,117,1);
        box-shadow: 0px 8px 21px -8px rgba(117,117,117,1);
        li>a{
          padding: 15px 30px;
          background: #fff;         
          float: left;
          color: #3f8cdf;
          width: 100%;          
          border-top:none;          
          text-align: center;
          text-decoration:none;
          &:hover{
            background-color:#eee;
          }
        }
      } 
      &:last-child > a {
        display: inline-block;
        color:#4cafc8;
        &.log-out-header{
          padding-right:0;
          color:#1b8cde;
        }           
      }
    }
  } 
  .navbar-default .navbar-nav > li > a{
    font-size: 14px;
    color: #1b8cde;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    padding: 25px 10px;
    position: relative;
    font-weight: 500;
    &.users_name, &.desk_logout{
      display:inline-block;
    }    
    .menu_icon{
      display:none;
    }
    &.users_name span {
      color: #000;
    }
    &.log-out-header {
      img{
        vertical-align: middle;
      }
    }
  }   
}

header.main_header.details_header .navbar {
  margin-bottom: 0;
  background-color: #fff;
  border-radius: 0;
  border: none;
}

@media (max-width: 768px) {
  .body-area {
      margin-top: 55px;
  }
  .main_header .left_slide_memu {    
    position: absolute;
    width: 280px;
    background: #fff;   
    margin-top: 0;
    height: 100vh;   
    border-top:0;
    left: -285px;
    top:0;
    overflow:auto;
    .navbar_right{
      display:block;
      width:100%;     
      float:left;
      margin:0;
      >li{
        &:hover ul{
        li a{border-left:none;}
        position:relative;
        display:none;
      }
      }
    }
    &.close_menu{    
    -webkit-animation-name: close_menu; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.2s; /* Safari 4.0 - 8.0 */
    animation-name: close_menu;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;

      /* Safari 4.0 - 8.0 */
      @-webkit-keyframes close_menu {
          from {left: 0%; opacity:1}
          to {left: -285px}
          99%{opacity:1}
          100%{opacity:0}
      }

      /* Standard syntax */
      @keyframes close_menu {
          from {left: 0%; opacity:1}
          to {left: -285px}
          99%{opacity:1}
          100%{opacity:0}
      }
    }

    &.open_menu{
    opacity:1;
    -webkit-animation-name: open_menu; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.2s; /* Safari 4.0 - 8.0 */
    animation-name: open_menu;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;

      /* Safari 4.0 - 8.0 */
      @-webkit-keyframes open_menu {
          from {left: -285px;}
          to {left: 0}
      }

      /* Standard syntax */
      @keyframes open_menu {
          from {left: -285px;}
          to {left: 0}
      }
    }


    .navbar-nav li {
      &:last-child
      > a{
        color:#505050;
        &.log-out-header{
          color:#505050;
        }
      }
      &.mob_show.blue_back{
        background: #1f66de url(../../images/icons/texture.png);
        background-size: 100px;
        background-repeat: repeat;
        width:100%;
        > a{
          span.user_name{
            display: block;
            color: #fff;
            font-weight: 600;
            margin-top: 15px;
          }
          i{
            border-radius: 100px;
            width: 50px;
            height: 50px;
            background-color: #fff;
            text-align: center;
            vertical-align: middle;
            padding: 12px;
            font-size: 25px;
          }
        }
      }
      .user_profile img{
        width:50px;
        height:50px;
        border-radius:100px;
      }
      &.mob_show{
        display:block;
      }
      &.desk_show{
        display:none;
      }
      > a {
        padding: 15px 15px;
        color:#505050;          
        .menu_icon{
          display:inline-block;
          font-size:20px;
          padding-right:10px;
          color: #000;
          vertical-align: middle;
        }         
      }      
      display:block;
      width: 100%;
      clear:both;
      &:hover ul
        {
          &.open_submenu{
            display:block;
          }
          li{
          &:first-child a{
            padding-top:0;
          }
          a{
            color:#505050;
            padding: 15px;
            font-weight:500;
            font-size:12px;
          }     
        }
      }
    }
  }
  .main_header {
    .navbar-header{
      padding: 0 15px;
    }
    .header_nave{
      float:unset;
    }
    .main_menu{
      display:inline-block;
    }
    .main_menu_right{
      display:inline-block;
    }
    .navbar .logo{
        display: inline-block;
        position: absolute;
        height:100%;
        left: 50%;
        transform: -webkit-translateX(-50%);
        transform: -moz-translateX(-50%);
        transform: -ms-translateX(-50%);
        transform: translateX(-50%);
        padding: 0px;
        margin: 0px auto;
      a{
        display: block;
        margin: 0 auto;
        text-align: center;
      }
      img {
        transition: 0.2s;
        height: 45px;
        position: relative;
      }
    }
  }
}

/* -- @media (max-height: 600px) {
  .main_header .left_slide_memu {
    .navbar-nav li{
    &:hover ul{
    li a{
      padding:10px 15px;
    }
    }
      a{
        padding:15px 15px;
      }
    }
  }
} --*/
