header{
  padding:5px 15px;
  height:50px; 
  -webkit-box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
  //@extend  %component_thm_color;
  //@extend  %thm_color;
  background-color:$white;

  .btn_slide_sidemenu{
    padding-left:50px !Important;
  }

  .main_menus{
    list-style:none;
    margin:0;
    padding:0;
    li{
      display:inline-block;
      position:relative;
      a{
        padding: 25px 10px;
        white-space: nowrap;
        display:block;
        color:$blue;
        text-transform:uppercase;
      }
      &:hover{
        ul{
          display:block;
        }
      }
      ul{
        padding:0;
        display:none; 
        position:absolute;
        left:0;
        @extend  %component_thm_color;
        -webkit-box-shadow: 0px 8px 21px -8px #757575;
        border-radius:5px;
        overflow:hidden;            
        li{
          display:block;
          a{
            padding: 15px 35px;
            text-align:center;            
          }
        }
      }
    }

  }
}

.usermenu{
  .dropdown{
    ul.menu-list{
      li{
        >a{white-space: nowrap;}
      }
    }
  }
}

