/*************** SCROLLBAR BASE CSS ***************/

.scroll-wrapper {
  overflow: hidden !important;
  padding: 0 !important;
  position: relative;
  > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none !important;
    overflow: scroll !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
    &::-webkit-scrollbar {
      height: 0;
      width: 0;
    }
  }
}

.scroll-element {
  display: none;
  box-sizing: content-box;
  div {
    box-sizing: content-box;
  }
  &.scroll-x.scroll-scrollx_visible, &.scroll-y.scroll-scrolly_visible {
    display: block;
  }
  .scroll-bar, .scroll-arrow {
    cursor: default;
  }
}

.scroll-textarea {
  border: 1px solid #cccccc;
  border-top-color: #999999;
  > .scroll-content {
    overflow: hidden !important;
    > textarea {
      border: none !important;
      box-sizing: border-box;
      height: 100% !important;
      margin: 0;
      max-height: none !important;
      max-width: none !important;
      overflow: scroll !important;
      outline: none;
      padding: 2px;
      position: relative !important;
      top: 0;
      width: 100% !important;
      &::-webkit-scrollbar {
        height: 0;
        width: 0;
      }
    }
  }
}

/*************** SCROLLBAR MAC OS X ***************/

.mCustomScrollbar_js {  
  > .scroll-element {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 0;
    div {
      background: none;
      border: none;
      margin: 0;
      padding: 0;
      position: absolute;
      z-index: 10;
      display: block;
      height: 100%;
      left: 0;
      top: 0;
      width: 100%;
    }
    .scroll-element_track {
      display: none;
    }
    .scroll-bar {
      background-color: #6C6E71;
      display: block;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity = 0);
      opacity: 0;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;
      -webkit-transition: opacity 0.2s linear;
      -moz-transition: opacity 0.2s linear;
      -o-transition: opacity 0.2s linear;
      -ms-transition: opacity 0.2s linear;
      transition: opacity 0.2s linear;
    }
  }
  &:hover > .scroll-element .scroll-bar {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity = 70);
    opacity: 0.7;
  }
  > .scroll-element {
    &.scroll-draggable .scroll-bar {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
      filter: alpha(opacity = 70);
      opacity: 0.7;
    }
    &.scroll-x {
      bottom: 0px;
      height: 0px;
      left: 0;
      min-width: 100%;
      overflow: visible;
      width: 100%;
    }
    &.scroll-y {
      height: 100%;
      min-height: 100%;
      right: -3px;
      top: 0;
      width: 0px;
    }
    &.scroll-x .scroll-bar {
      height: 7px;
      min-width: 10px;
      top: -9px;
    }
    &.scroll-y .scroll-bar {
      left: -7px;
      min-height: 10px;
      width: 4px;
    }
    &.scroll-x {
      .scroll-element_outer {
        left: 2px;
      }
      .scroll-element_size {
        left: -4px;
      }
    }
    &.scroll-y {
      .scroll-element_outer {
        top: 2px;
      }
      .scroll-element_size {
        top: -4px;
      }
    }
    &.scroll-x.scroll-scrolly_visible .scroll-element_size {
      left: -11px;
    }
    &.scroll-y.scroll-scrollx_visible .scroll-element_size {
      top: -11px;
    }
  }
}

/* scrollbar height/width & offset from container borders */

/* update scrollbar offset if both scrolls are visible */
.panel-body.scroll-wrapper{
    //overflow-x: visible !important;
    &:before{
      content: '';
      display: block;
      height: 10px;
      background: $white;
      position: absolute;
      top: 0px;
      width: 100%;
      z-index: 1;
    }
}