@each $name, $color in $colorname {
  %component_thm_color {
    .thm_#{''+$name+''} &{
      background-color:$color;
      //color:$white;
    }
  }
  %bg_thm_color {
    .thm_#{''+$name+''} &{
      background-color:$color;
    }
  }

  %thm_color {
    .thm_#{''+$name+''} &{
      color:$color;
    }
  }
  %thm_bdr_color {
    .thm_#{''+$name+''} &{
      border-color:$color;
    }
  }

  %thm_tab_nav {
    .thm_#{''+$name+''} &{
      a{
        padding: 1em;
        color:$black;
        border-radius:0;
        &.active{
          border:0;
          border-bottom:3px solid $color;
          color:$color;
          background:transparent
        }
      }      
      //border:1px solid $color;
      border:none;
      border-bottom: 0;
      background-color:rgba($color, .1);
    }
  }
}

// Active Background Color 
@each $name, $color in $active_colorname {
  %active_thm_color {
    .thm_#{''+$name+''} &{
      background-color:$color;
    }
  }
}

// Active Background and Color Combination 
@each $name, $color in $thm_color_com_name {
  %thm_color_com {
    .thm_#{''+$name+''} &{
      color:$color;
    }
  }
}

// Border Theme Color 
@each $name, $color in $active_colorname {
  %border_thm_color {
    .thm_#{''+$name+''} &{
      border-color:$color;
    }
  }
}

@each $name, $color in $colorname {
  .card-#{''+$name+''} {
    .card-header{
      background-color:$color;
      color:$white;
    }
  }  
}


@each $name, $color in $colorname {
  .#{''+$name+''} {
    color: $color;
  }
  #{''+$name+''} {
    color: $color;
  }
  .bg_#{''+$name+''} {
    background-color:$color;
  }
  .bdr_#{''+$name+''} {
    border-color:$color !important;
  }
  .border_#{''+$name+''} {
    border:1px solid $color;
  }
  .tag_#{''+$name+''} {
    background-color:$color;
    color:$white;        
    display: inline-block;
    padding: 2px 15px;
    margin: 5px;
    border-radius: 100px; 
    i{
      cursor: pointer;
      font-size: 1.3rem;
      margin-left: 5px;
      vertical-align: text-top;
    }   
  }  
}