.panel{
	border-radius: 0px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
  background-color:$white;  
	.panel-heading, .panel-footer{
		.heading{
			margin:0;
		}
		padding:15px;
		border-radius: 0px;
		@extend  %component_thm_color;		
		@extend  %thm_color_com;
	}

	.panel-body{
		background-color:$white;
		padding:15px;
		border-radius: 5px;			
	}
	+ .panel{
		margin-top:5px;
	}
}


