@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import "../core/_variables.scss";
.rating { 
  border: none;
  float: left;
}

.rating {
  border: none;
  float: left;
  > {
    input {
      display: none;
    }
    label:before {
      margin: 5px;
      font-size: 2em;
      font-family: FontAwesome;
      display: inline-block;
      content: "\f005";
    }
    .half:before {
      content: "\f089";
      position: absolute;
    }
    label {
      color: #ddd;
      float: right;
    }
    input:checked ~ label {
      color: $yellow;
    }
  }
  &:not(:checked) > label:hover {
    color: #FFD700;
    ~ label {
      color: #FFD700;
    }
  }
  > {
    input:checked {
      + label:hover, ~ label:hover {
        color: #FFED85;
      }
    }
    label:hover ~ input:checked ~ label, input:checked ~ label:hover ~ label {
      color: #FFED85;
    }
  }
}

/***** CSS Magic to Highlight Stars on Hover *****/

/* hover previous stars in list */