.modal{
	.modal-header{
		padding: 10px 15px;
		border-radius: 0;
		.modal-title{
			font-size: 1.143em;
    	text-transform: uppercase;
    	font-weight:600;
		}
			&.title_center{
				.modal-title{
					margin:0 auto;
			}
			.close{
				margin-left: 0;
			}
		}		
	}
	.modal-content{
		border-radius: 0;
	}
}