<?php  load_field('col/inline_radio', array('field' => 'type',
                                                    'class'=>'hideshow_js',
                                                    'option'=> array (array('value' => 'Image',
                                                                           'label' => 'Image',
                                                                           'checked' => 'checked'),
                                                                     array('value' => 'Video',
                                                                           'label' => 'Video')))); 
?> 

<section class="show_Image_js" style="display: none;"></section>
<section class="hide_Image_js"></section>