<?php
	$controller = $this->router->directory.$this->router->class;
	$sessionData = $this->session->userdata();
?>

<aside class="sidenavbar sidenavbar_js expand">
	<div class="p-2 pl-3">
		<a href="<?= ADMIN_PATH ?>">
			<img src="<?= ADMIN_PATH ?>/assets/application/images/common/logo.png" width="200" alt="user" class="fulllogo">
			<img src="<?= COMMON_IMAGES_PATH ?>vert_logo.png" class="showrtlogo">
		</a>    
	</div>
	<div class="ps_scroll ps_scroll_js">
		<?php ?>
			<ul> 
				$this->load->view('layouts/application/navigation/navigation_item', 
					array('url' => ADMIN_PATH.'professionals',
					'active' => ($controller=='professionals') ? 'active' : '',
					'title' => 'All Professionals',             
				));
			</ul>
		<?php ?>
		<ul> 
			<li class="submenu submenu_js">
				<a href="javascript:void(0);" class="dropicon fa-chevron-right">
					<span class="icon">
						<i class="fal fa-user-tie"></i>
					</span>
					<span>Professionals</span>
				</a>
				<ul> 
					<?php
						$this->load->view('layouts/application/navigation/navigation_item', 
							array('url' => ADMIN_PATH.'professionals',
							'active' => ($controller=='professionals') ? 'active' : '',
							'title' => 'All Professionals',             
						));
					?>
				</ul>
			</li>
    </ul>		
	</div>
</aside>