html, body{
  font-size: 12px;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 5px 15px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #6c6d67;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.editorbox{
  background-color: #e9ecef;
  padding: 15px 15px;
}
.editorbox .link{
  background: #c7bbb6;
  padding: 5px 10px;
}

.headnav{
  padding: 15px 0;
  /*background: #e4e4e4;  */
  top: 0;
  z-index: 999;
}
.sidebar .homebtn{
  background: #000;
  color: #fff;
  padding: 15px;
}
.links a{
  padding: 15px;
}

.group + .group{
  margin-top: 30px;
}